#nflTeam {
    position: absolute;
    outline: 2px black solid;
    height: 200px;
    left: 700px;
}

#collegeTeam {
    position: absolute;
    outline: 2px black solid;
    height: 200px;
    left: 500px;
}

#headshot {
    position: absolute;
    outline: 2px black solid;
    height: 200px;
    left: 900px;
}

* { box-sizing: border-box; }

body {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: 20px Arial;
}