#team {
    position: absolute;
    outline: 2px black solid;
    height: 200px;
    left: 450px;
}

#headshot {
    position: absolute;
    outline: 2px black solid;
    height: 200px;
    left: 650px;
}